<app-header></app-header>

<main>

  <div class="container bg-light shadow">
    <div class="row">
      <div class="col-5 align-self-start">
        <p>
          Essa aplicação foi realizada com o intuito de demosntrar as capacidades do Framework Javascript Angular, sendo em si uma Página Web feita para uma livraria.
        </p>
      </div>
      <div class="col-2"></div>
      <div class="col-5 align-self-end">
        <p>
          Trazendo consigo suas principais funções, como:

        </p>
        <ul>
          <li>Rotas</li>
          <li>Templates</li>
          <li>Modulos</li>
          <li>Deploy simples</li>
        </ul>
      </div>
    </div>

  </div>

</main>
